header {
    background: #E2EDFF;
    height: 300px;
}
 
.inline-blocklogo {
    width: 20%;
    padding: 5%;
    text-align: left;
}

.inline-block {
    list-style-type: none;
    width: 50%;
    margin-left: 20px;
    vertical-align: top;
    display: inline-block;
    font-family: 'Avenir', sans-serif;
    font-size: 28px;
    position: fixed;
    padding: 5%;
}

h1 {
    font-family: 'Shrikhand', cursive;  
    font-size: 32px;
}

.navItem1 {
    padding: 1%;
}

.navItem2 {
    padding: 1%;
    color: rgb(255, 1, 217);
}

.navItem3 {
    padding: 1%;
}

.navItem4 {
    padding: 1%;
}

.navItem5 {
    padding: 1%;
}


img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    padding: 3%;
}

p {
    font-size: 18px;
    font-family: 'Avenir', sans-serif;
}

.hero {
    width: 700px;
    margin: 0 auto;
}

.iconList {
    width: 700px;
    margin: 0 auto;
    list-style: none;
}

.icon {
    max-width: 10%;
    padding: 2%;
    margin: 25px;
    margin-left: 1px;
}

.grid {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 10% 90%;
}

.descriptionOne {
    max-width: 90%;
    vertical-align: top;
    padding: 6%;
    margin: 2px; 
    font-family: Avenir;
    font-size: 16px;
    justify-content: right;
}

.descriptionTwo {
    max-width: 90%;
    vertical-align: top;
    padding: 4%;
    margin: 16px;
    font-family: Avenir;
    justify-content: right;
}

.descriptionThree {
    max-width: 90%;
    vertical-align: top;
    padding: 4%;
    margin: 16px;
    font-family: Avenir; 
    justify-content: right;
}

.flexContainer {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
    font-family: Avenir; 
}

.workGrid {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
    padding-bottom: 5%;
    font-family: Avenir; 
}

footer {
    background-color: #130048;
    padding: 2%;
    color: #FFFFFF;
    height: 250px;
    font-family: 'Avenir', sans-serif;
}

footer img {
    width: 15%;
    padding: 1%;
    text-align: left;
}

#copyright {
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
    margin-top: 2px;
    margin-left: 40px;
    font-family: 'Avenir', sans-serif;
}
