header {
    background: #E2EDFF;
    height: 300px;
}
 
.inline-blocklogo {
    width: 20%;
    padding: 5%;
    text-align: left;
}

.inline-block {
    list-style-type: none;
    width: 50%;
    margin-left: 50px;
    vertical-align: top;
    display: inline-block;
    font-family: 'Avenir', sans-serif;
    font-size: 28px;
    position: fixed;
    padding: 5%;
}

h1 {
    font-family: ;
    font-size: 32px;
}

.navItem {
    padding: 1%;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    padding: 3%;
}

p {
    font-size: 18px;
    font-family: 'Avenir', sans-serif;
}

.hero {
    width: 700px;
    margin: 0 auto;
}

.iconList {
    width: 700px;
    margin: 0 auto;
    list-style: none;
}

.icon {
    max-width: 10%;
    vertical-align: top;
    padding: 2%;
    margin: 2px;
}

.grid {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 10% 90%;
    justify-content: left;
}

.descriptionOne {
    max-width: 90%;
    vertical-align: top;
    padding: 4%;
    margin: 6px; 
    font-family: Avenir;
    font-size: 16px;
    justify-content: right;
}

.descriptionTwo {
    max-width: 90%;
    vertical-align: top;
    padding: 4%;
    margin: 6px; 
    font-family: Avenir;
    justify-content: right;
}

.descriptionThree {
    max-width: 90%;
    vertical-align: top;
    padding: 4%;
    margin: 6px;
    font-family: Avenir; 
    justify-content: right;
}

footer {
    background-color: #130048;
    padding: 2%;
    color: #FFFFFF;
    height: 250px;
    font-family: 'Avenir', sans-serif;
}

footer .centre {
    text-align: center;
    vertical-align: top;
    font-size: 20px;
}

footer img {
    width: 10%;
    padding: 1%;
    text-align: left;
}

footer h1 {
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
}



